<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!--This title will appear at the top of the web browser to users-->
        <title>Product List template</title> 
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <table border="1" width="960px" align="center"><!--Main page border-->
            <tr><!--Table row-->
                <td><!--Table data-->
                    <h1 align="center">Title</h1><!--Page title-->
                    
                    <p>Body Text</p>
                    <ul><!-- Unordered list -->
                        <!-- Duplicate this area to add more items to the list -->
                        <!-- Insert link to product detail page where the # is -->
                        <li><a href="#">List Item</a></li>
                        <ul>
                            <li><a href="#">Sub Item</a></li>
                            <li><a href="#">Sub Item</a></li>
                            <li><a href="#">Sub Item</a></li>
                            <li><a href="#">Sub Item</a></li>
                        </ul>
                        <!-- end -->
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>