<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Product Detail template</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <table border="1" width="960px" align="center">
            <tr>
                <td colspan="2">
                    <h1 align="center">Title</h1>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="#" alt="logo"/>
                </td>
            </tr>
            <!--Duplicate this section to add more products-->
            <tr>
                <td>
                    <img src="#" alt="Product image"/>
                </td>
                <td>
                    <h4>Item Name</h4>
                    <h4>Description</h4>
                    <p>Item Description</p>
                    <h4>Price Inc GST $xxx.xx</h4>
                    <h4>Price Ex GST $xxx.xx</h4>
                </td>
            </tr>
            <!-- end -->
        </table>
    </body>
</html>